.background-1 {
    background:rgb(244, 203, 19) ;
    /* clip-path: polygon(0 0, 100% 0, 100% 73%, 70% 74%, 50% 85%, 50% 87%, 28% 75%, 0 75%); */
    clip-path: polygon(0 0, 100% 0, 100% 72%, 63% 72%, 49% 91%, 49% 91%, 35% 73%, 0 73%);
    height: 550px;
    width: 100%;
    place-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .background-1 .txt{
    color: white;
    padding-top: 100px;
  }
.txt-1{
    margin-left: 550px;
    width: 150px;
    font-weight: bolder;
    height: 100px;
    color: rgb(209, 208, 208);
    padding-top: 50px;
    background:rgb(196, 164, 19) ;
    border-radius: 50%;
  }

.background {
    background: rgb(225, 83, 83);
    height: 580px;
    width: 100%;
    
    place-content: center;
    text-align: center;
  }
